/* styling the body, classes, IDs */

.header{
    background-color: black;
    margin-top: 0;
    margin-bottom: 20; 
    padding: 10px; 
    flex-direction: column; 

    box-shadow: 1px 1px 3px 3px black;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}    
.btn{
    position: left;
    width: 80%;
    padding: 0%;
    justify-content: space-between;
    margin-left: 10px; 
}

.btns{
    display: flex;
}

.cart{
    display: flex;
    font-size: 20px;
    margin-left: 10px; 
    color: gray;
    flex-direction: column-reverse; 
} 
.home{
    position: left;
    justify-content: space-between;
    margin-left: 10px;
    color: gray;
    font-size: 20px; 
}  

.product{
    display: flex;
    max-width: 200px; 
    height: 20  0px;
    flex-wrap: flex;

}

.container{
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px black;
    background-color: white;
    padding: 40px 40px; 
    max-width: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;
}
.wallpaper{
    margin-left: 10%;
    height: 350px; 
    background-color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px gray;
    
}
.wallpic{
    height: 100%; 
    width: 60%; 
    margin-left: 20%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 1%; 
    margin-left: 11%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px gray;
    justify-content: space-between;
    align-content: center;
}
.cartContainer{
    margin-left: 15%; 
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px black;
    background-color: white;
    padding: 40px 40px; 
    max-width: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;


}
        